*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
};bd
.banner{
    height: 100vh;
    width: 100vw;
    background-image: url(./images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* header style  */

.header-info{
    text-align: end;
    padding: 300px 400px 0 0;
}

.header-h1{
    font-size: 65px;
    color: aliceblue;
    margin-bottom: 24px;
    
}
.header-para{
    font-size: 16px;
    color: aliceblue;
    margin-bottom: 32px;
}
.header-btn{
    font-size: 20px;
    color: #005FAC;
    border: none;
    padding: 20px 26px ;
    border-radius: 10px;
    cursor: pointer;
}

/* main style */

.first-section{
    display: flex;
    margin-top: 40rem ;
    align-items: center;
    justify-content: center;
}
.humen-img{
    margin: 0 10rem 0 5rem ;
}
.failures-head{
    text-align: start;
    font-size: 50px;
    margin: 0 0 30px 0;
}
.failures-p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
    color: B;
}
.main-option li {
    list-style: none;
    line-height: 25px;

}
.fa-regular {
    margin-right: 10px;
    color: lawngreen;
}

/* part 2 */

.part2{
    text-align: center;
    margin: 10rem;
    font-size: 3rem;
}
.all-plan{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 10px 10rem;
}

/* part 3 */

.backpart{
    background-image: url(./images/watch.png);
    background-repeat: no-repeat;
    margin: 290px;
   
}
.part3{
  
    background-repeat: no-repeat;
    background-image: url(./images/gradient1.png);
    margin: 290px 290px px 0;
    padding: 65px;
}
.gredien{
    font-size: 2rem 0px;
    color: aliceblue;
}
.call-btn{
    margin-top: 20px;
    padding: 20px 36px;
    color: #005FAC;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* footer */

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;
    padding: 230px;
}
.footer h1 , p {
    margin-bottom: 20px;
}

.img{
    margin: 10px 10px 10px 0;
}
#email{
    margin: 20px 10px 10px 0;
    padding: 20px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
}
.Subscribe{
    padding: 20px 30px;
    background-color: #005FAC;
    color: aliceblue;
    border-radius: 5px ;
    cursor: pointer;
}
